<p id="notice"><%= notice %></p>
<% if @user.activated? %>
  <p style="color: blue">User activated!</p>
<% else %>
  <p style="color: red">User not activated</p>
  <p style="color: red">Please check your email to activate your account.</p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
